<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @pastor.name %>
</p>

<p>
  <b>Bio:</b>
  <%= @pastor.bio %>
</p>

<p>
  <b>Phone:</b>
  <%= @pastor.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @pastor.email %>
</p>

<p>
  <b>Address one:</b>
  <%= @pastor.address_one %>
</p>

<p>
  <b>Address two:</b>
  <%= @pastor.address_two %>
</p>


<%= link_to 'Edit', edit_pastor_path(@pastor) %> |
<%= link_to 'Back', pastors_path %>
