<%= semantic_form_for @event do |f| %>
  <h4>Step 7: Add a host</h4>

  <%= f.inputs do %>
    <%= f.input :contact_name %>
    <%= f.input :contact_email %>
    <%= f.input :contact_phone %>
  <% end %>

<!--   <%= f.actions do %>
    <%= f.action :submit, :label => "Add host",
                 :as => :button, :button_html => { :class => "btn btn-success" } %>
  <% end %> -->
<% end %>
