<div id="content">
  <div class="container">
    <div class="row-fluid">
      <h2 class="title-divider">
        <span>Event <span class="de-em">listings</span></span> 
        <!-- <small>We love to talk!</small> -->
      </h2>
    </div>
    <div class="row"> 
      <!--Sidebar-->
      <div class="span3 sidebar sidebar-left">
        <h3>Filters</h3>
        <div class="inner">
          <div class="block">

						<%= search_form_for @search, :url => search_events_path, :html => {:method => :post} do |f| %>
							<%= f.label :short_description_cont, 'Keywords' %>
							<%= f.text_field :short_description_cont, placeholder: 'event name'%>
							<%= f.label :category_id_eq, 'Category' %>
							<%= f.select( :category_id_eq, Category.all.collect { |l| [l.name, l.id] }, :prompt => true ) %>
						
							<h5>Location</h5>
							<%= f.label :city_eq, "City" %>
							<%= f.text_field :city_eq %>
							<%= f.label :location_eq, "State" %>
							<%= f.text_field :location_eq %>
							<%= f.label :zipcode_eq, "Zip Code" %>
							<%= f.text_field :zipcode_eq %>
							<%= f.submit "search", class: "btn btn-success" %>
						<% end %>
            
          </div>
          <!-- <div class="block"> <a href="#" class="btn btn-warning"><i class="icon-rss"></i> Subscribe via RSS feed</a> </div> -->
        </div>
      </div>
      
      <!--Blog Roll Content-->
      <div class="span9 blog-roll blog-list"> 

        <% @events.each do |event| %>
        <!-- Blog post -->
        <div class="media row-fluid">
          <div class="span1 hidden-phone"> 
            <!-- Date desktop -->
            <div class="date-wrapper"> 
              <span class="date-m"><%= event.start_date.strftime("%b") %></span> 
              <span class="date-d"><%= event.start_date.day %></span>
            </div>
            <!-- Meta details desktop -->
            <p class="meta muted"> <i class="icon-user"></i> <a href="#"><%= event.user.get_full_name %></a> </p>
          </div>
          <div class="span11">
            <div class="media-body">
              <div class="tags"><a href="#" class="tag"><%= event.category.name %></a> / <a href="#" class="type"><%= event.tag_list %></a></div>
              <h4 class="title media-heading">
                <%= link_to event.short_description, event %>
              </h4>

              <!-- Meta details mobile -->
                  <!-- <ul class="inline meta muted visible-phone">
                    <li><i class="icon-calendar"></i> <span class="visible-desktop">Created:</span> Sun 20th Jan 2013</li>
                    <li><i class="icon-user"></i> <a href="#">Alex</a></li>
                  </ul> -->
                  <%= link_to image_tag(event.cover.url(:small)), event, :class => "media-object" %>

                  <p>
                    <%= raw event.long_description[0, 500] %>...
                  </p>

                  <ul class="inline links">
                    <li>
                       <!--  <a href="blog-post.htm" class="btn btn-mini">
                            <i class="icon-circle-arrow-right"></i> Read more
                          </a> -->
                          <%= link_to raw("<i class='icon-circle-arrow-right'></i>Read more..."), event, :class => "btn btn-mini" %>
                        </li>
                    <!-- <li>
                        <a href="blog-post.htm#comments" class="btn btn-mini"><i class="icon-comment"></i> 50 Comments</a>
                      </li> -->
                    </ul>
                  </div>
                </div>
              </div>
              <% end %>

              <div class="pagination pagination-centered">
                <button type="button" class="btn btn-block" data-loading-text="Loading...">Load More</button>
              </div>

            </div>
          </div>
        </div>
        <!--.container--> 
      </div>
