<div id="content">
  <div class="container">
    <div class="row-fluid">
      <h2 class="title-divider"><span>Company <span class="de-em">Blog</span></span> <small>We love to talk!</small></h2>
    </div>
    <div class="row">
      <div class="span8 blog-roll blog-list">
        <!-- Blog post -->
        <div class="media row-fluid">
          <div class="span11">
            <%= render "events/description" %>
          </div>
        </div>
      </div>

      <!--Sidebar-->
      <div class="span4 sidebar sidebar-right">
        <%= render "events/files" %>
        <%= render "events/location" %>
        <%= render "events/time" %>
        <%= render "events/host" %>
      </div>
    </div>

    <div class="row multiform-submit">
      <%= render "events/submit" %>
    </div>
  </div>
  <!--.container-->
</div>
