<div id="content">
  <div class="container">
    <div class="row-fluid">
      <h2 class="title-divider">
        <span>Event <span class="de-em">Listing</span></span>
        <small>
          <%= link_to raw("<i class='icon-arrow-left'></i>Back to listings"), events_path %>
        </small>
      </h2>
    </div>
    <div class="row">
      <!--Sidebar-->
      <%= render "events/search" %>
      <!--Main Content-->
      <div class="span9 blog-post">

        <!-- Blog post -->
        <div class="media row-fluid">
          <div class="span1 hidden-phone">
            <!-- Date desktop -->
            <div class="date-wrapper">
              <span class="date-m"><%= @event.start_date.strftime("%b") %></span>
              <span class="date-d"><%= @event.end_date.day %></span>
            </div>
            <!-- Meta details desktop -->
            <p class="meta muted">
              <i class="icon-user"></i>
              <a href="#">
                <%= @event.user.get_full_name %></a>
              </a>
            </p>
          </div>
          <div class="span11">
            <div class="media-body">
              <div class="tags">
                <a href="#" class="tag"><%= @event.category.name %></a> / <a href="#" class="type"><%= @event.tag_list %></a>
              </div>

              <h3 class="title media-heading"><%= @event.short_description %></h3>

              <!-- Meta details mobile -->
              <ul class="inline meta muted visible-phone">
                <li><i class="icon-calendar"></i> <span class="visible-desktop">Starts:</span> <%= @event.start_date %> </li>
                <li><i class="icon-user"></i> <a href="#"> @event.user.get_full_name </a></li>
              </ul>

              <div class="media-object">
                <%= image_tag @event.cover.url(:large) %>
              </div>
              <p class="lead">
                <%= @event.short_description %>
              </p>

              <p>
                <%= raw @event.long_description %>
              </p>

            </div>
          </div>
        </div>

        <!--Comments-->
        <!-- <div class="comments" id="comments">
          <h3>Comments</h3>
          <ul class="media-list">
            <li class="media row-fluid"> <a class="span1" href="#"> <img src="img/team/deniro.jpg" alt="Picture of Erin" class="media-object img-polaroid" /> </a>
              <div class="span11 media-body">
                <ul class="inline meta muted">
                  <li><i class="icon-calendar"></i> <span class="visible-desktop">Created:</span> Thu 24th Jan 2013</li>
                  <li><i class="icon-user"></i> <span class="visible-desktop">By</span> <a href="#">Dave</a></li>
                </ul>
                <h5 class="media-heading">a nec in sed hac ultrices cursus</h5>
                <p>a nec in sed hac ultrices cursusa nec in sed hac ultrices cursusa nec in sed hac ultrices cursusa nec in sed hac ultrices cursus</p>
              </div>
            </li>
            <li class="media row-fluid"> <a class="span1" href="#"> <img src="img/team/deniro.jpg" alt="Picture of Tom" class="media-object img-polaroid" /> </a>
              <div class="span11 media-body">
                <ul class="inline meta muted">
                  <li><i class="icon-calendar"></i> <span class="visible-desktop">Created:</span> Tue 15th Jan 2013</li>
                  <li><i class="icon-user"></i> <span class="visible-desktop">By</span> <a href="#">Alex</a></li>
                </ul>
                <h5 class="media-heading">Turpis odio dictumst tempor ac et!</h5>
                <p>Turpis odio dictumst tempor ac et!Turpis odio dictumst tempor ac et!Turpis odio dictumst tempor ac et!Turpis odio dictumst tempor ac et!</p>
              </div>
            </li>
            <li class="media row-fluid"> <a class="span1" href="#"> <img src="img/team/bono.jpg" alt="Picture of Joe" class="media-object img-polaroid" /> </a>
              <div class="span11 media-body">
                <ul class="inline meta muted">
                  <li><i class="icon-calendar"></i> <span class="visible-desktop">Created:</span> Fri 11th Jan 2013</li>
                  <li><i class="icon-user"></i> <span class="visible-desktop">By</span> <a href="#">Jo</a></li>
                </ul>
                <h5 class="media-heading">Urna natoque in phasellus rhoncus aliquet penatibus</h5>
                <p>Urna natoque in phasellus rhoncus aliquet penatibusUrna natoque in phasellus rhoncus aliquet penatibusUrna natoque in phasellus rhoncus aliquet penatibusUrna natoque in phasellus rhoncus aliquet penatibus</p>
              </div>
            </li>
            <li class="media row-fluid"> <a class="span1" href="#"> <img src="img/team/bono.jpg" alt="Picture of Jo" class="media-object img-polaroid" /> </a>
              <div class="span11 media-body">
                <ul class="inline meta muted">
                  <li><i class="icon-calendar"></i> <span class="visible-desktop">Created:</span> Sat 5th Jan 2013</li>
                  <li><i class="icon-user"></i> <span class="visible-desktop">By</span> <a href="#">Dave</a></li>
                </ul>
                <h5 class="media-heading">Urna natoque in phasellus rhoncus aliquet penatibus</h5>
                <p>Urna natoque in phasellus rhoncus aliquet penatibusUrna natoque in phasellus rhoncus aliquet penatibusUrna natoque in phasellus rhoncus aliquet penatibusUrna natoque in phasellus rhoncus aliquet penatibus</p>
              </div>
            </li>
            <li class="media row-fluid"> <a class="span1" href="#"> <img src="img/team/deniro.jpg" alt="Picture of Jo" class="media-object img-polaroid" /> </a>
              <div class="span11 media-body">
                <ul class="inline meta muted">
                  <li><i class="icon-calendar"></i> <span class="visible-desktop">Created:</span> Thu 3rd Jan 2013</li>
                  <li><i class="icon-user"></i> <span class="visible-desktop">By</span> <a href="#">Alex</a></li>
                </ul>
                <h5 class="media-heading">Enim augue elit adipiscing placerat natoque</h5>
                <p>Enim augue elit adipiscing placerat natoqueEnim augue elit adipiscing placerat natoqueEnim augue elit adipiscing placerat natoqueEnim augue elit adipiscing placerat natoque</p>
              </div>
            </li>
            <li class="media row-fluid"> <a class="span1" href="#"> <img src="img/team/jobs.jpg" alt="Picture of Tom" class="media-object img-polaroid" /> </a>
              <div class="span11 media-body">
                <ul class="inline meta muted">
                  <li><i class="icon-calendar"></i> <span class="visible-desktop">Created:</span> Tue 1st Jan 2013</li>
                  <li><i class="icon-user"></i> <span class="visible-desktop">By</span> <a href="#">Tom</a></li>
                </ul>
                <h5 class="media-heading">Urna natoque in phasellus rhoncus aliquet penatibus</h5>
                <p>Urna natoque in phasellus rhoncus aliquet penatibusUrna natoque in phasellus rhoncus aliquet penatibusUrna natoque in phasellus rhoncus aliquet penatibusUrna natoque in phasellus rhoncus aliquet penatibus</p>
              </div>
            </li>
            <li class="media row-fluid"> <a class="span1" href="#"> <img src="img/team/adele.jpg" alt="Picture of Dave" class="media-object img-polaroid" /> </a>
              <div class="span11 media-body">
                <ul class="inline meta muted">
                  <li><i class="icon-calendar"></i> <span class="visible-desktop">Created:</span> Fri 28th Dec 2012</li>
                  <li><i class="icon-user"></i> <span class="visible-desktop">By</span> <a href="#">Erin</a></li>
                </ul>
                <h5 class="media-heading">Porta risus porttitor facilisis sit dapibus</h5>
                <p>Porta risus porttitor facilisis sit dapibusPorta risus porttitor facilisis sit dapibusPorta risus porttitor facilisis sit dapibusPorta risus porttitor facilisis sit dapibus</p>
              </div>
            </li>
          </ul>
          <div class="comment-form">
            <form id="comment-form">
              <fieldset>
                <legend>Add Comment</legend>
                <input type="text" class="input-block-level" placeholder="Name">
                <br />
                <input type="text" class="input-block-level" placeholder="Email">
                <br />
                <textarea rows="8" class="input-block-level" placeholder="Comment"></textarea>
                <label class="checkbox">
                  <input type="checkbox">
                  Subscribe to updates </label>
                <button type="submit" class="btn btn-primary">Submit</button>
              </fieldset>
            </form>
          </div>
        </div> -->
      </div>


    </div>
  </div>
</div>
